.item{
    width: 300px;
    height: 400px;
    background-color: grey;
    border: 1px solid grey;
    border: none;
    background-image: url(product-01.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;

}

.item:hover{
    background-size: 400px 420px;
    transition: 0.9s ease;
    
}

.text {
background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 20px;
  cursor: pointer;

}

.overlay{
    position: absolute;
    top: 35%;
    left: 5%;
    opacity: 0;
  transition: .5s ease;
}

.item:hover .overlay {
    opacity: 1;
    
}

.text1{
    
    background-color: white;
    
    
}

.overlay1{
    position: absolute;
    left: -110px;
    opacity: 0;
    transition: .5s ease;
    line-height: 25px;

}

.home:hover .overlay1 {
    opacity: 1;
    
}